<div class="chatview">
    <canvas id="canvas" width="600" height="450"></canvas>
    <div class="viewContainer">
        <img id="image"></img>
        <div class="videoContainer">
            <video id="video" width="160" height="120"></video>
        </div>
    </div>
    <div>
        <button id="startMedia">Start Media</button>
        <button id="startCall">Join Call</button>
        <button id="stopCall">Leave Call</button>
    </div>
</div>